includes:
    - ./vendor-bin/tools/vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - src

    # The level 9 is the highest level
    level: 8

    excludePaths:
        - ./*/*/FileToBeExcluded.php
